<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('include', {title:'404'}) %>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <a href="#main" class="skip-link">Skip to main content</a>
    <header>
    <main id="main" tabIndex="-1">
      <div class="container">
        <article id="about">
          <section class="container">
            <h2>🚨404 Error🚨</h2>
            <blockquote>
              <p>
                <strong>해결 방법</strong> 
                <a href="/">"메인 페이지"</a> 로 돌아가거나 정확한 주소를 입력해 주세요! 그래도 해결이 되지않는 다면....</a>
                <br>
                <a>페이지의 관리자인 저의 능력 부족 입니다!</a>
              </p>
             
            </blockquote>
            <p>
              <img src="https://i.pinimg.com/originals/c5/11/17/c51117803996f8beb7817b41f6f0c5dd.gif" style="height: 400px; margin: 0em 13em 2rem;">
            </p>
          </section>
         
          </section>
        </article>
    <footer class="page-footer"></footer>
  </body>
</html>
