<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('include', {title:'홈'}) %>
    <link rel="stylesheet" href="/static/main.css" />
   

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  </head>
  <body>
     <a href="/" class="skip-link">Skip to main content</a>
    <header>
      <div class="container">
        <h1>CHAT-CODINGON</h1>
        <h2>CODINGON Personal Project</h2>
        <br>
        

        <a href="/chat" class="link-github" 
          ><span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              aria-hidden="true"
              focusable="false"
              
            >
              <path
                d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"
              ></path>
            </svg>
          </span>
          Star on CHATING</a
        >
      </div>
    </header>
   

    <main id="main" tabIndex="-1">
      <div class="container">
        <article id="about">
          <section class="container">
            <h2>이 채팅 사이트 이용법</h2>
            <p>
              <img src="https://images.ctfassets.net/3s5io6mnxfqz/1DAWBU71jP7gTImLk3NZZ2/9e859d5e5857e29ab4014c85dfb5d479/AdobeStock_120763372.jpeg?w=1920" 
              style="width: 1000px; height: 500px; margin:0 0 16px;"
              >
            </p>
            <p>
              <strong style="font-size: 30px;">아이디가 없으신가요??</strong>
            </p>
            <p>
              <strong style="font-size: 30px;">새로운 계정을 생성하여 이 모든 기능을 즐겨보세요!</strong>
            </p>
            <nav>
              <ul>
                <li><a href="/">회원가입</a></li>
              </ul>
            </nav>
            <br>
            <br>
            <p>
              <strong style="font-size: 30px;">등록된 아이디가 있으신가요??</strong>
            </p>
            <p>
              <strong style="font-size: 30px;">당신의 계정으로 접속하여 즐겨보세요!!</strong>
            </p>
            <nav>
              <ul>
                <li><a href="/">로그인</a></li>
              </ul>
            </nav>
            <br>
            <br>
            <strong style="font-size: 30px;">로그인이 완료 되면 당신이 사용할 닉네임을 정해주세요!!</strong>
            
            
            <br>
            <button type="button" onclick="entry();" style="background-color: #1b62b9; border-radius: 30px; width: 300px; height: 60px; margin-left: 300px;"
         >
              <h4 style="font-size: 30px;
              position: relative;
              margin-top: 13px;
              padding: 0 0 1rem;
              color: var(--color-white);
              font-style: italic;
              letter-spacing: -0.05em;
              white-space: pre-wrap;
              ">| 닉네임을 입력하세요</h4>
            </button>
            <br>
            <p>
              <strong style="font-size: 30px;">원하는 닉네임을 작성 하고 입장 하기 버튼을 눌러 보세요!!</strong>
            </p>
            <br>
            <button type="button" onclick="entry();" style="background-color: #e63838; border-radius: 30px; width: 300px; height: 60px; margin-left: 300px;"
         >
              <h4 style="font-size: 30px;
              position: relative;
              margin-top: 13px;
              padding: 0 0 1rem;
              color: var(--color-white);
              font-style: italic;
              letter-spacing: -0.05em;
              white-space: pre-wrap;
              ">입장하기</h4>
            </button>
            <br>

            <p>
              <img src="https://aelaschool.com/wp-content/uploads/2022/04/HistriadoPopArtPopArteoPhotoshop_Prancheta1_2614fe1ba55ce39c27afd82e22e0a876_2000-995x520.png.webp" 
              style="width: 1000px; height: 500px; margin:0 0 16px;"
              >
            </p>
            <br>
            <p>
              <strong style="font-size: 30px;">WOW! 이제 당신은 여러 사람들과 대화를 할 수 있습니다!!</strong>
            </p>
            <br>
            <p>
              <strong style="font-size: 30px;">아!! 물론 당신이 원하는 상대에게 귓속말을 보낼 수도 있습니다!</strong>
            </p>
            <br>
            <p>
              <img src="https://www.contrado.co.uk/blog/wp-content/uploads/2021/04/Pop.jpg" 
              style="width: 1000px; height: 500px; margin:0 0 16px;"
              >
            </p>
            <br>
            <p>
              <strong style="font-size: 30px;">모든 대화가 끝난 후 퇴장 하고 싶다면 이 버튼을 클릭해보세요!!</strong>
            </p>
            <br>
            <a  class="link-github" style="margin-left: 325px; width: 300px;"
        ><span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            aria-hidden="true"
            focusable="false"
            
          >
            <path
              d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"
            ></path>
          </svg>
        </span>
        퇴장하기</a>
        <br>
        <p>
          <strong style="font-size: 30px;">자! 이제 모든 설명이 끝났습니다! 즐기러 가볼까요?</strong>
        </p>
        <p>
          <img src="https://previews.123rf.com/images/studiostoks/studiostoks1604/studiostoks160400257/55726357-ok-%EC%9A%B0%EC%A3%BC-%EB%B9%84%ED%96%89%EC%82%AC-%EB%82%A8%EC%9E%90-%EC%A2%8B%EC%95%84-%EC%A0%9C%EC%8A%A4%EC%B2%98-%EC%95%84%EB%8B%88%EB%9D%BC-%ED%8C%9D-%EC%95%84%ED%8A%B8-%EB%B3%B5%EA%B3%A0-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%A2%8B%EC%95%84-%EB%B2%A1%ED%84%B0-%EB%A0%88%ED%8A%B8%EB%A1%9C-%EA%B3%B5%EA%B0%84-%EC%A2%8B%EC%9D%80.jpg" 
          style="width: 1000px; height: 600px; margin:0 0 16px;"
          >
        </p>
      
        <nav>
          <ul>
            <li><a href="/user/signin">로그인하러 가기</a></li>
            <li><a href="/user/signup">회원가입하러 가기</a></li>
            
          </ul>
        </nav>
          
        </article>

    <footer class="page-footer"></footer>

    
    
  </body>
</html>
